.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.1rem;

    &__photo {
        background-color: rgb(236, 236, 236);
        aspect-ratio: 1;
        background-position: center;
        background-size: cover;
    }
}
