.photo {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &__body {
        padding: 0 1rem;
    }

    &__menu {
        padding: 0 1rem;
    }

    &__content {
        width: 100%;
        height: auto;

        &_not-found {
            height: 20rem;
            background-color: rgb(236, 236, 236);
        }
    }

    &__actions {
        padding: 1rem 0;
        font-size: 2rem;

        i {
            margin-right: 1rem;
        }
    }

    &__likes {
        padding-bottom: 1rem;
        font-weight: bold;
    }

    &__show-all {
        padding-top: 1rem;
        color: gray;
        font-size: small;
        display: block;
        text-decoration: none;
    }

    &__more {
        color: gray;
        cursor: pointer;
    }

    &__description {
        margin-bottom: 0.2rem;
        &-text {
            margin-right: 0.5rem;
        }
    }
    &__author-name {
        font-weight: bold;
        margin-right: 0.5rem;
    }

    &__stats {
        padding: 1rem 0;
        color: gray;
        small {
            margin-right: 1rem;
        }
    }
}
