.control {
    position: relative;
    display: flex;
    align-items: center;
    .input {
        padding-left: 1rem;
        &:focus {
            border: none;
            outline: none;
            & ~ .prepended {
                color: black;
            }
            & ~ .appended {
                color: black;
            }
        }
    }
    &_prepend {
        .prepended {
            position: absolute;
            left: 0.6rem;
            color: gray;
        }
        .input {
            padding-left: 3rem;
        }
    }
    &_append {
        .appended {
            position: absolute;
            right: 0.6rem;
            color: gray;
        }
        .input {
            padding-right: 3rem;
        }
    }
}
